@model IdentityFrameworkSportsstore.Models.ProductViewModels.EditViewModel
@{
    ViewData["Title"] = ((bool)ViewData["Edit"]) ? "Edit Product" : "Create Product";
}

<h2>@ViewData["Title"]</h2>
<form method="post">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Price">Price</label>
        <input asp-for="Price" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="InStock">In Stock</label>
        <input asp-for="InStock"/>
    </div>
    @{ 
        if (!(bool)ViewData["Edit"]) {
            <div class="form-group">
                <label asp-for="Availability">Availability</label>
                <select asp-for="Availability" 
                 asp-items="Html.GetEnumSelectList<IdentityFrameworkSportsstore.Models.Domain.Availability>()"
                 class="form-control">

                </select>
            </div>
        }
    }
    <div class="form-group">
        <label asp-for="CategoryId">Category</label> 
        <select asp-for="CategoryId" asp-items="@(ViewData["Categories"] as SelectList)" class="form-control">
            <option value="">--select category--</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-default">Cancel</a>
</form>
